.main {
    width: 100vw;
    height: 100vh;
    color: black;
    font-size: 1em;
}



/* Start: header */
header {
    position: relative;
    background-color: hsla(0, 10%, 90%, 1);
    width: 100vw;
    height: 5vh;
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 25vw 75vw;
}

header button.ui.button {
    grid-area: left;
    background: hsla(0, 10%, 90%, 1);
}

header .chatHeader {
    grid-area: right;
    font-size: 2em;
    text-align: center;
    margin-top: 0.25em;
    font-weight: bold;
}
/* End: header */



/* Start: contactBox */
.contactBox {
    position: fixed;
    float: left;
    height: 95vh;
    width: 25vw;
    background-color: hsla(0, 0%, 20%, 1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.contactBox button {
    display: inline-block;
    padding: 1em 1em;
    margin: 0.25em !important;
    border: black 1px solid;
    border-radius: 15px;
    margin: 0.5em;
    background-color: hsla(100, 0%, 100%, 1);
}

.contactBox .username {
    font-size: 1.25em;
    margin-bottom: 0.25em;
}

.contactBox .lastMessage {
    font-weight: 400;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-height: 1em;
}

/* End: contactBox */



/* Start: messageBox */
.messageBox {
    position: relative;
    float: right;
    display: flex;
    flex-direction: column;
    width: 75vw;
    height: 85vh;
    background-color: hsla(0, 0%, 60%, 1 );
    justify-content: flex-start;
    align-items: flex-start;
}

.message {
    max-width: 65%;
    margin: 0.5em;
}

.message.toRight {
    align-self: flex-end;
}

.message .text {
    padding: 0.5em 0.5em;
    border: black 1px solid;
    border-radius: 15px 15px 15px 5px;
    background-color: white;
    word-wrap: break-word;
}

.message .time {
    font-size: 0.75em;
}

.message.toRight .text {
    border-radius: 15px 15px 5px 15px;
}

.message.toRight .time {
    text-align: right;
}
/* End: messageBox */



/* Start: inputBox */
.inputBox {
    position: fixed;
    float: right;
    left: 25vw;
    top: 90vh;
    height: 10vh;
    width: 75vw;
    background-color: hsla(0, 0%, 60%, 1);
}

.inputBox form.ui.form {
    display: grid;
    grid-template-areas: "input button";
    grid-template-columns: 9fr 1fr;
}

.inputBox textarea {
    grid-area: input;
}

.inputBox button {
    grid-area: button;
}
/* End: inputBox */