@import url('https://fonts.googleapis.com/css?family=Titillium+Web:700');

body { 
  margin: 0;
  text-shadow: none;
  color: black;
}

canvas {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: black;
}

a {
  color: inherit;
}

h1.title {
  font-size: 2.25em;
  font-weight: 700;
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
  cursor: default;
}

button.medium.ui.button {
  width: 100%;
  margin: 2em 0 2em 0;
  display: block;
}

div.navs {
  display: flex;
  justify-content: space-between;
}

.home {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 40vw;
  transform: translate(50%, -50%);
  max-width: 90%;
  padding: 2em 3em;
  background-color: rgba(255, 255, 255, .95);
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  box-shadow: 0 0 10px 5px #888888;
}


@media only screen and (max-width: 680px) {
  .home {
    width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  .home {
    width: 70%;
  }
}

@media only screen and (orientation: landscape) and (max-height: 480px) {
  .home {
    height: 70vh;
    width: 60vw;
    padding: 1em 1em;
  }

  h1.title {
    font-size: 1.25em;
    margin-bottom: 0.25em;
  }

  .buttonBox {
    margin: 0 auto;
  }

  .formHead {
    font-size: 1em;
    margin-bottom: 0.25em;
  }

  .formBody {
    font-size: 0.75em;
  }
}